@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>角色管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="~/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/layuiadmin/style/admin.css" media="all">
</head>
<body>

    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb">
            <a lay-href="">主页</a>
            <a><cite>菜单</cite></a>
            <a><cite>菜单管理</cite></a>
        </div>
    </div>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div style="padding-bottom: 10px;">
                            @if ((bool)ViewData[PageCode.PAGE_Button_Add])
                            {
                                <a class="layui-btn layuiadmin-btn-admin" data-type="add" href="@Url.Content("~")/Menu/Edit">添加</a>
                            }
                        </div>
                        <table id="tree-table" class="layui-table" lay-filter="tree-table"></table>
                        <script type="text/html" id="status">
                            {{# if(d.isShow){ }}
                            <span class="layui-btn layui-btn-primary layui-btn-xs">显示</span>
                            {{# } else { }}
                            <span class="layui-btn layui-btn-danger layui-btn-xs">隐藏</span>
                            {{# } }}
                        </script>
                        <script type="text/html" id="tree-table-bar">
                               {{#if (d.pid === 0){ }}
                            @if ((bool)ViewData[PageCode.PAGE_Button_Add])
                            {
                                    <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="addmenu"><i class="layui-icon layui-icon-addition"></i>添加子菜单</button>
                            }
                            {{# } }}
                            @if ((bool)ViewData[PageCode.PAGE_Button_Edit])
                            {
                                   <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit" href="@Url.Content("~")/Menu/Edit/{{=d.id}}"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                            }
                            @if ((bool)ViewData[PageCode.PAGE_Button_Delete])
                            {
                                  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                            }

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '@Url.Content("~")/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table', 'treetable'], function () {
            var $ = layui.$,
                layer = layui.layer,
                table = layui.table,
                treetable = layui.treetable;

            $.ajax({
                type: 'get',
                url: '@Url.Content("~")/Menu/GetList',
                dataType: 'json',
                success: function (res) {
                    renderTable(res.data);
                }
            });

            // 渲染表格
            var renderTable = function (data) {
                layer.load(2);
                treetable.render({
                    treeColIndex: 0,//树形图标显示在第几列
                    treeSpid: 0,    //最上级的父级id
                    treeIdName: 'id',
                    treePidName: 'pid',
                    treeDefaultClose: false,//是否默认折叠
                    treeLinkage: false,// 父级展开时是否自动展开所有子级
                    elem: '#tree-table',
                    data: data,
                    page: false,
                    cols: [[

                        { field: 'title', width: 200, title: '名称' },
                        { field: 'path', title: '页面路径' },
                        { field: 'sort', width: 100, title: '排序' },
                        { align: 'center', field: 'isShow', width: 100, title: '状态', minWidth: 200, templet: '#status' },
                        { align: 'center', width: 300, title: '操作', toolbar: '#tree-table-bar' }
                    ]],
                    done: function () {
                        layer.closeAll('loading');
                    }
                });
            };

            //监听工具条
            table.on("tool(tree-table)", function (obj) {
                var data = obj.data;
                if (obj.event === "del") {
                    layer.confirm("确认删除?", function (index) {
                        var loading = layer.load(1, { shade: 0.3 });
                        $.ajax({
                            url: "@Url.Content("~")/Menu/Delete",
                            data: { 'id': data.id },
                            type: "post",
                            dataType: "json",
                            success: function (res) {
                                layer.close(loading);
                                if (res.code == 200) {
                                    layer.msg(res.msg);
                                    layer.close(index);
                                    location.reload();
                                }
                                else {
                                    layer.msg(res.msg);
                                }
                            },
                            error: function (res) {
                                layer.close(loading);
                            }
                        })
                    });
                }
                else if (obj.event === 'addmenu') {
                    console.log(obj);
                    window.location.href = '@Url.Content("~")/Menu/Edit?pid=' + data.id;
                }
            });
        });
    </script>
</body>
</html>
